@import 'shared';

.root {
  @include container;
  display: flex;
  flex-direction: column;
  text-align: left;

  @include media-desktopSm {
    flex-direction: row;
    justify-content: space-between;
  }

  .title {
    @include typography-h4;
    margin-bottom: px(25);

    @include media-tablet {
      @include use-tablet-columns(width, 7);
    }

    @include media-desktopSm {
      @include use-desktop-columns(width, 5);
    }
  }

  .text {
    @include typography-paragraph;
    margin-bottom: px(25);

    @include media-tablet {
      @include use-tablet-columns(width, 7);
    }

    @include media-desktopSm {
      @include use-desktop-columns(width, 6);
    }
  }
}
