@import 'shared';

.root {
  width: 100%;
  overflow-x: hidden;
  background-color: $light-grey;
  padding-top: px(36);
  padding-bottom: px(27);

  @include media-tablet {
    padding-top: px(32);
    padding-bottom: px(72);
  }

  @include media-desktopSm {
    position: relative;
    min-height: px(792);
    padding-top: px(43);
    padding-bottom: px(43);
  }

  .container {
    @include container;
    display: flex;
    flex-direction: column;

    @include breakpoint(desktopSm) {
      margin-right: 0;
      width: calc((desktop-columns(12) + 100%) / 2);
    }

    @include breakpoint(desktopLock) {
      margin-right: 0;
      width: calc((desktop-lock-columns(12) + 100%) / 2);
    }

    @include media-desktopSm {
      flex-direction: row;
    }

    .swiperWrapper {
      min-width: 0;
      @include media-desktopSm {
        overflow-x: hidden;
        flex: 1;
      }
    }

    .carouselContainer > div {
      align-items: center;

      @include media-desktopSm {
        height: auto !important;
        justify-content: space-between;
      }
    }

    .board {
      @include media-desktopSm {
        display: none;
      }
    }
  }

  .pagination {
    margin: px(48) 0 px(40);

    @include breakpoint(desktopSm) {
      margin: px(10) auto px(40);
    }

    @include pagination($black, false); //  margin: 0 px(3);

    &.isDisabled {
      display: none;
    }
  }
}

.wrapper {
  .eyebrow {
    @include outer-container;
  }

  @include media-desktopSm {
    @include use-desktop-columns(width, 5, 1);
  }

  .textWrapper {
    @include container;
    display: flex;
    flex-direction: column;
    margin-top: px(18);
    margin-bottom: px(62);
    text-align: left;
    margin-left: 0;

    @include media-tablet {
      margin-top: px(24);
    }

    @include media-desktopSm {
      width: auto;
      margin-top: px(22);
      margin-bottom: 0;
    }

    .title {
      @include typography-h2;
      margin-bottom: px(15);

      @include media-tablet {
        margin-bottom: px(24);
        @include use-tablet-columns(max-width, 5);
      }

      @include media-desktopSm {
        margin-bottom: px(32);
        @include use-desktop-columns(max-width, 4, 1);
      }
    }

    .board {
      display: none;

      @include media-desktopSm {
        @include use-desktop-columns(width, 5);
        display: block;
      }
    }
  }
}

.board {
  margin-left: 0;

  .label {
    @include typography-eyebrow;
    text-transform: uppercase;
    text-align: left;
    color: $mid-grey;
    margin-bottom: px(17);

    @include media-tablet {
      margin-bottom: px(30);
    }

    @include media-desktopSm {
      margin-top: px(158);
      margin-bottom: px(18);
    }

    @include media-desktopMd {
      margin-top: px(218);
    }

    &::before {
      content: '';
      display: inline-block;
      @include box(px(4));
      background-color: $red;
      border-radius: 50%;
      margin-right: px(20);

      @include media-desktopSm {
        display: none;
      }
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: px(18);

    @include media-tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-desktopSm {
      grid-template-columns: repeat(2, 1fr);
      row-gap: px(12);
    }

    .listItem {
      @include use-mobile-columns(width, 2);
      text-align: left;

      @include media-tablet {
        width: auto;
      }

      .name {
        @include typography-label;
      }
      .role {
        @include typography-paragraph;
        color: $mid-grey;
      }
    }
  }
}

.carouselContainer {
  padding-left: px(14);
  overflow: visible;

  @include media-tablet {
    padding-top: px(20);
    padding-left: px(17);
  }

  @include media-desktopSm {
    margin-top: px(54);
    @include use-desktop-columns(padding-left, 1, 1);
    padding-right: px(192);
    padding-top: 0;
  }

  .slide {
    width: px(114);
    opacity: 0.8;
    transition: opacity 0.33s linear;

    .cardColumn {
      padding-bottom: px(26);

      @include media-tablet {
        padding-bottom: px(70);
      }

      @include media-desktopSm {
        padding-bottom: 0;
      }
    }
    > div {
      a {
        transform: scale(1);
        transition: transform 0.3s linear;
        transform-origin: bottom;
      }
      &:last-child {
        a {
          transform-origin: top;
        }
      }
    }

    @include media-tablet {
      width: px(231);
    }

    &:global(.swiper-slide-active) {
      opacity: 1;

      a {
        transform: scale(1.25);

        @include media-tablet {
          transform: scale(1.15);
        }

        @include media-desktopSm {
          transform: none;
        }
      }
    }

    @include media-desktopSm {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: normal;
      gap: px(16);
      width: px(192);
      opacity: 0.4;

      &:global(.swiper-slide-visible) {
        opacity: 1;
      }
    }
  }
}

.columns {
  @include use-desktop-columns(width, 7);
  position: absolute;
  top: 0;
  right: 0;
}
