@import 'shared';

.root {
  @include outer-container;
  width: 100%;

  @include media-desktopSm {
    position: relative;
    min-height: px(720);
    overflow-y: hidden;
  }

  .carouselContainer > div {
    align-items: center;
  }

  .pagination {
    margin: px(48) 0 px(20);
    @include flex-center;

    @include breakpoint(desktopSm) {
      margin: px(83) 0 0;
    }

    > span {
      position: relative;
      @include box(px(25));
      @include flex-center;
      margin: 0 px(13);
      cursor: pointer;

      &:global(.swiper-pagination-bullet-active) {
        &::after {
          transform: scale(1);
        }
      }

      &::before {
        content: '';
        @include box(px(3));
        border-radius: 50%;
        background-color: $black;
        display: block;
      }

      &::after {
        content: '';
        @include position-100(absolute);
        border: 1px solid $black;
        border-radius: 50%;
        display: block;
        transform: scale(0);
        transition: $ease1 0.66s transform;
      }
    }
  }
}

.wrapper {
  margin: 0 auto;

  .eyebrow {
    @include outer-container;
    @include container;
  }

  .textWrapper {
    @include container;
    display: flex;
    flex-direction: column;
    margin-top: px(18);
    text-align: left;

    @include media-tablet {
      margin-top: px(24);
    }

    @include media-desktopSm {
      margin-top: px(22);
    }

    .title {
      @include typography-h2;
      margin-bottom: px(15);

      @include media-tablet {
        margin-bottom: px(24);
      }

      @include media-desktopSm {
        margin-bottom: px(32);
      }
    }

    .description {
      @include typography-paragraph;
      color: $mid-grey;
    }

    .title,
    .description {
      @include media-tablet {
        @include use-tablet-columns(max-width, 5);
      }

      @include media-desktopSm {
        @include use-desktop-columns(max-width, 4, 1);
      }
    }
  }
}

.carouselContainer {
  margin-top: px(26);
  padding-right: px(170);

  @include media-tablet {
    margin-top: px(62);
    padding-right: px(400);
  }

  .slide {
    width: px(114);

    @include media-tablet {
      width: px(231);
    }

    &:global(.swiper-slide-active) {
      width: px(150);

      @include media-tablet {
        width: px(264);
      }
    }
  }
}

.columns {
  @include use-desktop-columns(width, 7);
  position: absolute;
  top: 0;
  right: 0;
}
