@import 'shared';

.root {
  width: 100%;
  position: relative;
  max-height: 100vh;
  min-height: 55vh;
  padding-top: px(75);

  @include media-tablet {
    height: 65vh;
    padding: 0;
  }

  @include media-desktopSm {
    height: 75vh;
  }

  @include media-desktopMd {
    height: 100vh;
  }

  .backgroundContainer {
    @include position-100(absolute);
    background-color: $light-grey;
    width: 100%;
    height: 85%;
    overflow: hidden;

    @include media-tablet {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  .backgroundImage {
    width: 100%;
    height: auto;
    padding-top: px(50);

    @include media-tablet {
      @include use-tablet-columns(width, 8);
    }

    @include media-desktopSm {
      height: auto;
      @include use-desktop-columns(width, 10);
    }
  }

  .contentContainer {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    @include container;

    @include media-tablet {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 0;
    }
  }

  .rightMobileImage {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    height: 100%;
  }

  .imageContainer {
    @include box(100%);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include use-mobile-columns(max-width, 3);

    @include media-tablet {
      flex-direction: column;
      @include use-tablet-columns(width, 4);
    }

    @include media-desktopSm {
      @include use-desktop-columns(width, 5);
    }
  }

  .biographyHeroImage {
    width: 100%;
    height: auto;
  }

  .description {
    margin-bottom: px(50);
    text-align: left;
    @include use-mobile-columns(width, 3);

    @include media-tablet {
      margin-top: px(200);
      @include use-tablet-gutter(margin-left, 1);
      @include use-tablet-columns(width, 3);
      @include use-tablet-gutter(padding-right, 1);
    }

    @include media-desktopSm {
      @include use-desktop-columns(margin-left, 1, 2);
      @include use-desktop-columns(width, 6);
    }
  }

  .title {
    @include typography-h2;
    color: $mid-grey;
    margin-bottom: px(20);
  }

  .eyebrow {
    @include typography-h4;
    color: $mid-grey;
  }
}
