@import 'shared';

$spacing-desktop: desktop-columns(1, 1.5);
$spacing-desktop-lock: desktop-lock-columns(1, 1.5);

.root {
  width: 100%;
  position: relative;
  padding-top: px(68);

  @include media-tablet {
    padding: 0;
  }

  .overlay {
    @include position-100(absolute);
    background-color: $light-grey;
    width: 100%;
    height: 85%;
    overflow: hidden;

    @include media-tablet {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    @include media-tablet {
      height: calc(100% - #{desktop-columns(2)});
    }

    @include media-desktopSm {
      height: calc(100% - $spacing-desktop);
    }

    @include media-desktopLock {
      height: calc(100% - $spacing-desktop-lock);
    }
  }

  .contentContainer {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    @include container;

    @include media-tablet {
      flex-direction: row;
    }

    @include media-tablet {
      height: auto;
    }

    @include media-desktopMd {
      align-items: stretch;
    }
  }

  .rightMobileImage {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    height: 100%;

    @include media-tablet {
      margin-top: px(60);
    }

    @include media-desktopSm {
      margin-top: calc(#{$navbar-height} + #{$spacing-desktop});
    }

    @include media-desktopLock {
      margin-top: calc(#{$navbar-height} + #{$spacing-desktop-lock});
    }
  }

  .imageContainer {
    @include box(100%);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include use-mobile-columns(max-width, 3);
    @include aspect-ratio(19, 30);

    img {
      height: 100%;
      object-fit: cover;
    }

    @include media-tablet {
      flex-direction: column;
      @include use-tablet-columns(width, 4);
    }

    @include media-desktopSm {
      @include use-desktop-columns(width, 5);
      @include aspect-ratio(38, 51);
    }
  }

  .biographyHeroImage {
    width: 100%;
    height: auto;
  }

  .description {
    margin-bottom: px(30);
    text-align: left;
    @include use-mobile-columns(width, 3);

    @include media-tablet {
      margin-top: auto;
      @include use-tablet-gutter(margin-left, 2);
      @include use-tablet-columns(width, 4);
      margin-bottom: 0;
      padding-bottom: calc(#{px(48)} + #{desktop-columns(2)});
    }

    @include media-desktopSm {
      @include use-desktop-columns(margin-left, 1, 2);
      @include use-desktop-columns(width, 6);
      padding-bottom: calc(#{$spacing-desktop} * 2);
    }

    @include media-desktopLock {
      padding-bottom: calc(#{$spacing-desktop-lock} * 2);
    }
  }

  .title {
    @include typography-h2;
    color: $mid-grey;
    margin-bottom: px(20);
  }

  .eyebrow {
    @include typography-h4;
    color: $mid-grey;
  }
}
