@import 'shared';

.root {
  .container {
    @include container();
  }
  .section {
    display: flex;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    flex-direction: column;
    &.fullwidth {
      .wrapper {
        width: 100%;
        text-align: center;
      }
    }
    @include media-tablet {
      &.fullwidth {
        flex-direction: column;
      }
      flex-direction: row;
    }
  }

  .title {
    @include use-desktop-columns(width, 3);
    text-align: left;
  }

  .wrapper {
    @include use-desktop-columns(width, 9);
    text-align: left;
    > div {
      margin: 1rem 0;
    }
  }
  .heading1 {
    @include typography-h1;
  }
  .heading2 {
    @include typography-h2;
  }
  .heading3 {
    @include typography-h3;
  }
  .heading4 {
    @include typography-h4;
  }
  .label {
    @include typography-label;
  }
  .body {
    @include typography-paragraph;
  }
  .eyebrow {
    @include typography-eyebrow;
  }
}
