@import 'shared';

.root {
  @include use-mobile-columns(max-width, 4);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: px(15) px(44) px(20) px(20);
  background-color: $mid-grey;
  border-radius: px(8);

  @include media-desktopSm {
    @include use-desktop-columns(max-width, 12);
    flex-direction: row;
    justify-content: space-between;
    padding: px(21) px(64) px(27) px(36);
  }
}

.wrapper {
  margin-bottom: px(33);

  @include media-desktopSm {
    margin-bottom: 0;
  }

  p {
    color: $white;
    text-align: left;
  }
}

.cta {
  display: flex;
  color: $white;
}
