@import 'shared';

.root {
  @include use-mobile-columns(width, 4);
  @include outer-container(true);
  display: block;
  margin: 0 auto;
  position: relative;
  height: px(168);
  overflow: hidden;
  background-color: $white;
  border-top-left-radius: px(16);
  border-top-right-radius: px(16);

  @include media-desktopSm {
    height: px(276);
  }
}

.imageWrapper {
  @include position-100(absolute);
  z-index: 0;

  &::after {
    @include position-100(absolute);
    content: '';
    background: linear-gradient(0deg, rgba(47, 47, 47, 0.25), rgba(47, 47, 47, 0.25));
  }

  .image {
    @include position-100(absolute);
    object-fit: cover;
  }
}

.wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
  padding: px(20) px($grid-relative-gap-mobile) px(24);
  height: 100%;

  @include media-desktopSm {
    padding: px(55) 0;
  }

  .textWrapper {
    .title {
      @include font-size(22, 28);
      @include use-mobile-columns(max-width, 3);
      position: relative;
      margin-top: px(6);
      text-align: left;
      color: $white;
      overflow-wrap: break-word;

      @include media-tablet {
        margin-top: px(23);
      }

      @include media-desktopSm {
        @include font-size(40, 48);
        @include use-desktop-columns(max-width, 10);
      }
    }
  }

  .circle {
    align-self: flex-end;

    @include media-tablet {
      align-self: center;
    }
  }
}
