@import 'shared';

.root {
  @include use-mobile-columns(width, 4);
  position: relative;
  height: px(168);
  overflow: hidden;
  background-color: $white;
  border-top-left-radius: px(16);
  border-top-right-radius: px(16);

  @include media-desktopSm {
    @include box(px(1134), px(276));
  }
}

.imageWrapper {
  @include position-100(absolute);
  z-index: 0;

  &::after {
    @include position-100(absolute);
    content: '';
    background: linear-gradient(0deg, rgba(47, 47, 47, 0.25), rgba(47, 47, 47, 0.25));
  }

  .image {
    @include position-100(absolute);
    object-fit: cover;
  }
}

.wrapper {
  @include position-100(absolute);
  display: flex;
  justify-content: space-between;
  padding: px(20) px(24) px(24);

  .textWrapper {
    .title {
      @include font-size(22, 28);
      margin-top: px(6);
      color: $white;

      @include media-desktopSm {
        @include font-size(40, 48);
        margin-top: px(23);
      }
    }
  }

  .circle {
    align-self: flex-end;
  }
}
