@import 'shared';

.Tabs {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media-desktopSm {
    flex-direction: row;
  }

  > .tabsList {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin-left: mobile-side-padding(-0.5);
    padding: 0 mobile-side-padding();
    width: 100vw;

    @include media-tablet {
      margin-left: tablet-side-padding(-0.5);
      padding: 0 tablet-side-padding();
    }

    @include media-desktopSm {
      @include use-desktop-columns(width, 3);
      @include use-desktop-gutter(margin-right, 1);
      margin-left: 0;
      padding: 0;
      flex-direction: column;
      align-items: flex-start;
      overflow: unset;
    }

    > .tab {
      @include flex-center;
      @include typography-cta;
      position: relative;
      flex-direction: column;
      color: $mid-grey;
      list-style: none;
      margin-right: px(24);
      padding-top: px(16);
      padding-bottom: px(5);
      text-transform: uppercase;
      white-space: nowrap;
      /* stylelint-disable */
      border-bottom: 1px solid transparent;
      transition: padding 0.5s $ease1;
      cursor: pointer;

      &::before {
        content: '';
        @include box(px(4));
        position: absolute;
        display: block;
        margin-top: px(-48);
        background-color: $red;
        border-radius: 50%;
        transform: scale(0);
        transition: transform 0.5s $ease1;

        @include media-desktopSm {
          left: 0;
          margin-top: 0;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        color: $red;
      }

      &.active {
        color: $red;
        &::before {
          transform: scale(1);
        }
      }

      @include media-desktopSm {
        height: auto;
        margin-right: 0;
        white-space: initial;
        flex-direction: row;
        justify-content: left;
        padding-right: px(15);
        width: calc(100% + px(4));

        &.active {
          padding-left: px(15);
          padding-right: 0;
        }
      }

      @include media-desktopMd {
        padding-right: px(20);
        width: auto;
        &.active {
          padding-left: px(20);
        }
      }
    }
  }

  .tabsContent {
    margin-top: px(28);
    position: relative;

    @include media-desktopSm {
      @include use-desktop-columns(width, 9);
      margin: 0;
    }

    p {
      @include use-mobile-columns(width, 4);

      @include media-tablet {
        @include use-tablet-columns(width, 7);
      }
      @include media-desktopSm {
        @include use-desktop-columns(width, 7);
      }
    }
  }

  .tabWrapper {
    visibility: hidden;
    height: 0;
    width: 100%;
    z-index: 1;
    position: relative;

    &.animatingOut,
    &.active,
    &.animatingIn {
      visibility: visible;
    }

    &.animatingIn:not(.active),
    &.animatingOut:not(.active) {
      position: absolute;
      top: 0;
    }
    &.active,
    &.animatingOut {
      height: auto;
    }

    &.active,
    &.animatingIn {
      z-index: 2;
    }
    > span,
    > div {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
