@import 'shared';

.root {
  display: flex;
  flex-direction: column;
  padding: px(60) 0 px(28);

  @include media-tablet {
    padding-bottom: px(8);
  }
  @include media-desktopSm {
    padding: px(120) 0 px(60);
  }
}

.eyebrow {
  order: 1;
  @include container;
  margin-bottom: px(25);

  @include media-tablet {
    order: 2;
    height: 0;
    margin-bottom: px(-35);
    margin-top: px(35);
  }
}

.videoCon {
  order: 2;

  @include media-tablet {
    order: 1;
  }
}

.textWrapper {
  @include container;
  order: 3;

  .quote,
  .author {
    @include use-mobile-columns(width, 3);
    margin-left: auto;
    text-align: left;

    @include media-tablet {
      @include use-tablet-columns(width, 5);
    }

    @include media-desktopSm {
      @include use-desktop-columns(width, 7);
      @include use-desktop-columns(padding-right, 1, 1);
    }
  }

  .quote {
    @include font-size(20, 26);
    margin-top: px(25);

    @include media-tablet {
      margin-top: px(35);
    }

    @include media-desktopMd {
      @include font-size(32, 40);
    }
  }

  .author {
    @include typography-paragraph;
    margin-top: px(10);
    color: $mid-grey;

    @include media-desktopMd {
      margin-top: px(26);
    }
  }
}
