@import 'shared';

.root {
  position: relative;
}

.wrapper {
  @include position-100;
}

.container {
  @include position-100;
  overflow: hidden;
}

.svg {
  @include position-100(absolute);
  pointer-events: none;
  z-index: 1;
}
