@import 'shared';

.root {
  display: flex;
  height: 100%;
  cursor: none;
}

.column {
  flex: 1;
  overflow: visible;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    @include use-desktop-columns(width, 3);

    .leader {
      height: auto;
    }

    a > * {
      pointer-events: none;
    }

    &.shift {
      margin-left: auto;
    }
  }
}

.disable {
  pointer-events: none;
}
