@import 'shared';

.root {
  display: flex;
  height: 100%;
  overflow: hidden;
  cursor: none;
}

.column {
  flex: 1;
  overflow: visible;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .leader {
      @include use-desktop-columns(width, 3);
    }

    a,
    img {
      cursor: none !important;
    }

    &.shift {
      .leader {
        align-self: flex-end;
      }
    }
  }
}

.disable {
  pointer-events: none;
}
