@import 'shared';

.root {
  display: block;
  max-width: 100%;

  &.hasBorderRadius {
    border-radius: px(6);
    @include breakpoint(tablet) {
      border-radius: px(12);
    }
    @include breakpoint(desktopSm) {
      border-radius: px(24);
    }
  }

  &.hasFilterBlur {
    filter: blur(10px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); // to prevent blur spilling
  }
}
