@import 'shared';

.root {
  color: $mid-grey;

  &.dark {
    .text {
      color: $light-grey;
    }
  }

  &.light {
    .text {
      color: $white;
    }
  }
}

.text {
  @include flex-center-vert;
  @include typography-eyebrow;
  text-transform: uppercase;
  position: relative;

  @include media-desktopMd {
    margin-left: px(-$grid-relative-side-padding-desktop-external);
  }

  .circle {
    position: relative;
    width: px($grid-relative-gap-mobile);

    @include media-desktopMd {
      width: px($grid-relative-side-padding-desktop-external);
    }

    &::before {
      content: '';
      display: inline-block;
      @include box(px(4));
      top: px(-2);
      left: 0;
      background-color: $red;
      border-radius: 50%;
      position: absolute;
    }
  }
}
