@import 'shared';

.root {
  display: none;
  position: absolute;
  left: 0;
  width: px(276);
  background-color: $white;
  border-radius: px(8);
  overflow: hidden;
  z-index: 1;

  &.move {
    transform: translateX(-50%);
  }
}

.containerWrapper {
  max-height: px(636);
  padding: px(20) px(33) px(24) px(24);
  overflow-y: scroll;

  .container {
    display: flex;
    gap: px(34);
    height: 100%;
  }
}

.isOpen {
  display: block;
}
