/* stylelint-disable */
@import 'shared';

:export {
  // layout
  grid-numOfColsMobile: $grid-num-of-cols-mobile;
  grid-numOfColsTablet: $grid-num-of-cols-tablet;
  grid-numOfCols: $grid-num-of-cols-desktop;
  grid-gapMobile: $grid-gap-mobile;
  grid-gapTablet: $grid-gap-tablet;
  grid-gapDesktop: $grid-gap-desktop;
  grid-columnWidthMobile: $grid-column-width-mobile;
  grid-columnWidthTablet: $grid-column-width-tablet;
  grid-columnWidthDesktop: $grid-column-width-desktop;
  layout-mobile: $layout-mobile;
  layout-tablet: $layout-tablet;
  layout-desktopSm: $layout-desktopSm;
  layout-desktopMd: $layout-desktopMd;
  layout-desktopLg: $layout-desktopLg;
  // color
  color-white: $white;
  color-black: $black;
}
