// Globals
//
// Global styling, normalize overwritten
@import 'fonts';
@import 'polyfills';
@import 'shared';

@import 'swiper/css';

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  text-size-adjust: none;
  font-size: 10px;
  text-align: center;

  &.hide-static-html {
    visibility: hidden;
    opacity: 0;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: px(16);
  word-break: break-word;
  @include font-body;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: $page-bg-color;
  z-index: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  min-height: 100vh;
  padding-top: $navbar-height;
  @include z-index(pages);
  &:not(.CareerDetail):not(.PageNotFound) {
    @include media-desktopSm {
      padding-top: 0;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
dl,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 0;
}

button,
input,
a {
  &:focus:not(.focus-visible) {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-header;
}

h4 {
  @include typography-h4;
}
p {
  @include typography-paragraph;
}
// Colors utility classes for utils/colors.ts
.redColorClass {
  color: $red;
}

.blackColorClass {
  color: $black;
}

.darkGreyColorClass {
  color: $dark-grey;
}

.midGreyColorClass {
  color: $mid-grey;
}

.greyColorClass {
  color: $grey;
}

.lightGreyColorClass {
  color: $light-grey;
}

.whiteColorClass {
  color: $white;
}

// background colors utility classes

.redBackgroundColorClass {
  background: $red;
}

.blackBackgroundColorClass {
  background: $black;
}

.darkGreyBackgroundColorClass {
  background: $dark-grey;
}

.midGreyBackgroundColorClass {
  background: $mid-grey;
}

.greyBackgroundColorClass {
  background: $grey;
}

.lightGreyBackgroundColorClass {
  background: $light-grey;
}

.whiteBackgroundColorClass {
  background: $white;
}

.linearBackgroundColorClass {
  background: linear-gradient(0deg, $grey -4.4%, rgba($grey, 0) 69.28%);
}

// default tables styling

.tableContainer {
  overflow: scroll;
}

table {
  text-align: left;
  border-collapse: collapse;
  // width: 100%;

  @include breakpoint(desktopSm) {
    min-width: unset;
  }

  tr {
    th {
      @include typography-label;
      padding: px(17) px(20) px(20);
      background-color: $light-grey;
      color: $dark-grey;

      @include media-desktopSm {
        padding: px(30) px(20);
      }
    }

    td {
      padding: px(20);
      background-color: $white;
      color: $mid-grey;
      border: 1px solid $light-grey;
      vertical-align: top;

      @include media-desktopSm {
        padding: px(28) px(20) px(20) px(24);
      }

      &:first-child {
        width: 25%;
        min-width: px(140);
      }

      &:nth-child(2) {
        width: 35%;
        min-width: px(300);
      }

      &:nth-child(3) {
        width: 30%;
        min-width: px(290);
      }

      @include breakpoint(tablet) {
        &:first-child {
          min-width: px(168);
        }

        &:nth-child(2) {
          min-width: px(384);
        }
      }

      @include breakpoint(desktopSm) {
        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
          min-width: unset;
        }
      }

      ul {
        li {
          @include flex-center-vert;
          align-items: baseline;

          &::before {
            content: '\2022';
            color: $dark-grey;
            display: inline-block;
            width: 1px;
            margin-right: px(15);
          }

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.BackgroundVideo {
  visibility: visible !important;
}

.rte-video {
  background: $black;
  width: 100%;
  height: 480px;
  video {
    @include box(100%);
    object-fit: contain;
  }
}
