@import 'shared';

.root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: vh(100);
  background-color: rgba($dark-grey, 0.75);
  display: flex;
  flex-direction: column;
  @include z-index(modal);

  .wrapper {
    width: calc(100% - px(48));
    background-color: $white;
    padding: px(36) px(24) 0;
    border-radius: px(8) px(8) 0 0;
    margin: 0 auto;
    margin-top: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - px(49));
  }
}

.contentBar {
  flex: 1;
  min-height: 0;
}

.titleBar {
  .close {
    @include box(px(18));
    position: absolute;
    top: px(40);
    right: px(24);
    cursor: pointer;

    @include media-tablet {
      right: px(40);
    }
  }

  .header {
    @include typography-h2;
    margin-bottom: px(31);
    text-align: left;
    color: $dark-grey;

    @include media-tablet {
      margin-bottom: px(34);
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: px(34);
  height: 100%;
  overflow: auto;
  padding-bottom: px(24);
  @include media-tablet {
    flex-flow: column wrap;
  }
}
