@import 'shared';

.root {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  width: calc(100% - px(48));
  background-color: $white;
  padding: px(20) px(33) px(24) px(24);
  border-radius: px(8);
  overflow: hidden;
  height: vh(85);
}

.contentBar {
  overflow: scroll;
}

.close {
  @include box(px(14));
  position: absolute;
  top: px(30);
  right: px(24);
  cursor: pointer;

  @include media-tablet {
    right: px(40);
  }
}

.header {
  @include typography-h2;
  margin-bottom: px(31);
  text-align: left;

  @include media-tablet {
    margin-bottom: px(34);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: px(34);
  height: 100%;
  @include media-tablet {
    flex-flow: column wrap;
  }
}

.open {
  display: block;
}
