@import 'shared';

.root {
  position: relative;
  width: auto;
  padding: px(19) 0 px(24) px(24);
  text-align: left;
  border-top-left-radius: px(8);
  border-top-right-radius: px(8);
  background-color: transparent;
  color: $white;

  .title {
    @include flex-center-vert;
    @include typography-eyebrow;
    text-transform: uppercase;

    .caret {
      @include box(px(7), px(3.5));
      margin-left: px(7.5);
      transform: rotate(180deg);

      path {
        stroke: $white;
      }
    }
  }

  &.open {
    .caret {
      transform: rotate(0deg);
    }
  }
}

@at-root body:global(.desktop) {
  .root:hover {
    cursor: pointer;
  }
}
