@import 'shared';

.Card {
  overflow: hidden;
  perspective: 1px;
  display: block;

  .image {
    width: 100%;
    object-fit: cover;
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      @include typography-eyebrow;
    }

    .text {
      text-align: left;
    }

    .cta {
      display: flex;
      margin-top: px(16);

      @include media-desktopSm {
        margin-top: px(36);
      }
    }
  }

  &.product {
    width: px(298);
    border-radius: px(8);
    background-color: $white;

    @include media-desktopSm {
      width: px(456);
    }

    .image {
      @include aspect-ratio(288, 264);

      @include media-desktopSm {
        @include aspect-ratio(16, 9);
      }
    }

    .textWrapper {
      padding: px(20) px(60) px(27) px(24);

      .titleWrapper {
        margin-bottom: px(10);
      }

      .title {
        color: rgba($black, 0.5);
        text-transform: uppercase;
      }

      .text {
        @include typography-paragraph;
      }
    }
  }

  &.news {
    @include use-mobile-columns(width, 4);

    @include media-desktopSm {
      @include use-desktop-columns(width, 4);
    }

    .image {
      @include aspect-ratio(360, 206);
      border-radius: px(8);
    }

    .textWrapper {
      padding-top: px(20);
      padding-bottom: px(21);

      @include media-tablet {
        padding-bottom: 0;
      }

      @include media-desktopSm {
        padding-bottom: px(33);
      }

      .titleWrapper {
        margin-bottom: px(10);

        @include media-desktopSm {
          margin-bottom: px(5);
        }

        .date {
          @include typography-eyebrow;
          color: $red;
        }

        .title {
          margin-left: px(16);
          color: rgba($black, 0.5);
          text-transform: uppercase;
        }
      }

      .text {
        @include typography-label;
      }
    }
  }

  &.default,
  &.default-tall,
  &.quote {
    width: px(334);

    @include media-desktopSm {
      width: px(536);
    }

    .image {
      @include aspect-ratio(312, 216);
      border-radius: px(6);

      @include media-desktopSm {
        @include aspect-ratio(552, 396);
        border-radius: px(12);
      }
    }

    .textWrapper {
      padding-top: px(11);

      @include media-desktopSm {
        max-width: px(336);
        padding-top: px(21);
      }

      .titleWrapper {
        margin-bottom: px(15);

        .title {
          @include typography-h4;
          text-transform: capitalize;
          display: inline-block;
          text-align: left;
          color: $dark-grey;
        }
      }
    }
  }

  &.default-tall {
    .image {
      @include aspect-ratio(52, 59);
      border-radius: px(6);

      @include media-desktopSm {
        border-radius: px(8);
      }
    }
  }

  &.milestone {
    @include use-mobile-columns(width, 4);
    background-color: $black;
    border-radius: px(7);
    overflow: hidden;
    color: $white;
    padding: px(35);

    @include breakpoint(tablet) {
      width: calc((100% - px(24) * 2) / 3);
      @include use-tablet-gutter(padding, 0.8);
      max-width: unset;
    }

    .image {
      height: auto;
      margin-bottom: px(25);
    }
    .textWrapper {
      .titleWrapper {
        margin-bottom: px(10);
        .title {
          @include typography-label;
          text-transform: initial;
        }
      }
      .text {
        @include typography-paragraph;
      }
    }
  }

  &.quote {
    text-align: left;
    .textWrapper {
      .titleWrapper {
        order: 2;
        margin-top: px(18);
        color: $mid-grey;

        @include breakpoint(tablet) {
          margin-top: px(20);
        }

        .title {
          @include typography-label;
          display: block;
        }

        .subTitle {
          margin-top: px(5);
          @include font-size(14, 16);
        }
      }
    }
  }
}
