@import 'shared';

.root {
  .Card {
    background-color: $white;
    overflow: hidden;
    perspective: 1px;

    .image {
      width: 100%;
      object-fit: cover;
    }

    .textWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .eyebrow {
        @include typography-eyebrow;
        text-transform: uppercase;
      }

      .text {
        text-align: left;
      }

      .cta {
        display: flex;
      }
    }

    &.product {
      width: px(298);
      border-radius: px(8);

      @include media-desktopSm {
        width: px(456);
      }

      .image {
        @include aspect-ratio(288, 264);

        @include media-desktopSm {
          @include aspect-ratio(16, 9);
        }
      }

      .textWrapper {
        padding: px(20) px(60) px(27) px(24);

        .eyebrowWrapper {
          margin-bottom: px(10);
        }

        .eyebrow {
          color: rgba($black, 0.5);
        }

        .text {
          @include typography-paragraph;
        }

        .cta {
          margin-top: px(16);

          @include media-desktopSm {
            margin-top: px(36);
          }
        }
      }
    }

    &.news {
      @include use-mobile-columns(width, 4);

      @include media-desktopSm {
        @include use-desktop-columns(width, 4);
      }

      .image {
        @include aspect-ratio(360, 206);
        border-radius: px(8);
      }

      .textWrapper {
        padding-top: px(20);
        padding-bottom: px(21);

        @include media-desktopSm {
          padding-bottom: px(33);
        }

        .eyebrowWrapper {
          margin-bottom: px(10);

          @include media-desktopSm {
            margin-bottom: px(5);
          }

          .date {
            @include typography-eyebrow;
            color: $red;
          }

          .eyebrow {
            margin-left: px(16);
            color: rgba($black, 0.5);
          }
        }

        .text {
          @include typography-label;
        }
      }
    }

    &.office {
      width: px(334);

      @include media-desktopSm {
        width: px(536);
      }

      .image {
        @include aspect-ratio(312, 216);
        border-radius: px(8);

        @include media-desktopSm {
          @include aspect-ratio(552, 396);
        }
      }

      .textWrapper {
        padding-top: px(11);

        @include media-desktopSm {
          max-width: px(336);
          padding-top: px(21);
        }

        .eyebrowWrapper {
          margin-bottom: px(15);

          .eyebrow {
            @include typography-h4;
            text-transform: capitalize;
          }
        }

        .text {
          color: $mid-grey;
        }
      }
    }
  }
}
