@import 'shared';

.root {
  &.default {
    @include use-mobile-columns(width, 4, 1);

    .video,
    .imageWrapper {
      border-radius: px(6) 0 0 px(6);

      @include breakpoint(tablet) {
        border-radius: px(12) 0 0 px(12);
      }

      @include breakpoint(desktopSm) {
        border-radius: px(24) 0 0 px(24);
      }
    }

    .playButton {
      @include use-mobile-columns(left, 1);

      @include media-desktopMd {
        @include use-desktop-columns(left, 3, 1);
      }
    }
  }
  &.gallery {
    .playButton {
      @include transform-center;
    }
  }

  @include aspect-ratio(16, 9);

  @include media-desktopMd {
    width: 100%;
  }
}

.video {
  video {
    @include box(100%);
    object-fit: cover;
  }
}

.title {
  position: absolute;
  display: none;
  color: $white;
  text-align: left;
  bottom: px(23);
  left: px(48);
  pointer-events: none;
  @include typography-label;
  z-index: 1;

  @include breakpoint(tablet) {
    max-width: px(480);
    display: block;
    bottom: px(36);
    left: px(72);
  }
}

.imageWrapper,
.video {
  &::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 30%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, $black -4.4%, rgba($black, 0) 69.28%);
    opacity: 0.6;
  }
}

.imageWrapper {
  @include box(100%);
  @include flex-center-vert;
  position: relative;
  overflow: hidden;

  .poster {
    @include box(100%);
    object-fit: cover;
  }

  .playButton {
    position: absolute;
  }
}

@at-root body:global(.desktop) {
  .imageWrapper:hover {
    cursor: pointer;
  }
}
