@import 'shared';

.root {
  @include use-mobile-columns(width, 4, 1);
  aspect-ratio: 363 / 204;

  @include media-desktopMd {
    width: 100%;
  }
}

.video {
  border-radius: px(24) 0 0 px(24);

  video {
    @include box(100%);
    object-fit: cover;
  }
}

.imageWrapper {
  @include box(100%);
  @include flex-center-vert;
  position: relative;

  .poster {
    @include box(100%);
    object-fit: cover;
    border-radius: px(24) 0 0 px(24);
  }

  svg {
    @include box(px(60));
    @include use-mobile-columns(left, 1);
    position: absolute;

    @include media-desktopMd {
      @include box(px(72));
      @include use-desktop-columns(left, 3, 1);
    }
  }
}

@at-root body:global(.desktop) {
  .imageWrapper:hover {
    cursor: pointer;
  }
}
