@import 'shared';

.root {
  @include container;
  display: flex;
  text-align: left;
  justify-content: space-between;
  flex-wrap: wrap;

  .eyebrow {
    width: 100%;
    margin-bottom: px(20);

    @include media-desktopSm {
      margin-bottom: px(24);
    }
  }
  .titleContainer {
    width: 100%;
    @include typography-h4;
    .title {
      margin-bottom: px(24);
      > * {
        margin-bottom: px(24);
      }
    }
    :global(.cta) {
      margin-top: px(24);
    }
  }
  .textContainer {
    @include typography-paragraph;
    p,
    b {
      margin-bottom: px(24);
      display: block;
    }

    b {
      @include typography-h4;
      font-weight: 300;
    }
    a:not(:global(.cta)) {
      color: $red;
      text-decoration: underline;
    }
  }

  &.columns-50-50 {
    .titleContainer {
      @include media-tablet {
        @include use-tablet-columns(width, 7);
      }

      @include media-desktopSm {
        @include use-desktop-columns(width, 5);
      }
    }

    .textContainer {
      @include media-tablet {
        @include use-tablet-columns(width, 7);
      }

      @include media-desktopSm {
        @include use-desktop-columns(width, 6);
      }
    }
  }

  &.columns-30-70 {
    .titleContainer {
      @include media-desktopSm {
        @include use-desktop-columns(width, 3);
      }
    }

    .textContainer {
      @include media-desktopSm {
        @include use-desktop-columns(width, 9);
      }
    }
  }
  &.isSticky {
    margin-bottom: px(45);
    @include media-tablet {
      margin-bottom: px(140);
    }
    @include media-desktopSm {
      margin-bottom: px(192);
    }

    .titleContainer {
      > div {
        position: sticky;
        top: calc(#{$navbar-height} + #{px(30)});
      }
      @include media-tablet {
        @include use-tablet-columns(width, 3);
      }
      @include media-desktopSm {
        margin-left: px(-$grid-relative-side-padding-desktop-external);
        width: calc(#{desktop-columns(3, 0)} + #{px($grid-relative-side-padding-desktop-external)});
      }
      @include breakpoint(desktopLock) {
        margin-left: 0;
        width: desktop-lock-columns(3, 0);
      }
    }
    .textContainer {
      @include media-tablet {
        @include use-tablet-columns(width, 5);
      }
      @include media-desktopSm {
        @include use-desktop-columns(width, 9);
      }
    }
  }
}
