@import 'shared';

.root {
  @include container;
  display: flex;
  text-align: left;
  justify-content: space-between;
  flex-wrap: wrap;

  .eyebrow {
    width: 100%;
    margin-bottom: px(20);

    @include media-desktopSm {
      margin-bottom: px(24);
    }
  }
  .spacer {
    @include media-desktopSm {
      height: px(62);
      display: block;
    }
  }
  .titleContainer,
  .textContainer {
    p,
    b {
      margin-bottom: px(24);
    }

    ul,
    table {
      p {
        margin-bottom: 0;
      }
    }
    ul {
      list-style: revert;
      padding-inline-start: px(24);
    }
  }
  .titleContainer {
    width: 100%;
    @include typography-h4;
    .title {
      margin-bottom: px(24);
      > * {
        margin-bottom: px(24);
      }
    }
    .leftCta {
      margin-top: px(26);
    }
  }
  .textContainer {
    overflow: hidden;
    @include typography-paragraph;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    b {
      @include font-family('Toyota Type Book');
    }
    a:not(:global(.cta)) {
      color: $red;
      text-decoration: underline;
    }
    h2,
    h3,
    h4,
    h5,
    ul,
    table {
      margin-bottom: px(24);

      @include media-desktopSm {
        margin-bottom: px(32);
      }
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .leftSideTopBar {
    @include dateCat;
  }

  .shareButtons {
    @include flex-center-vert;
    flex-wrap: wrap;
    padding-top: px(7);
    margin-bottom: px(25);
    @include media-tablet {
      margin-bottom: px(74);
    }

    @include media-desktopMd {
      padding-top: px(24);
      margin-bottom: 0;
    }

    .socialMediaButton {
      position: relative;
      margin-right: px(6);
      margin-top: px(17);
    }

    .shareText {
      width: 100%;
      display: block;
      @include typography-paragraph;
    }
  }

  &.columns-50-50 {
    .titleContainer {
      @include media-tablet {
        @include use-tablet-columns(width, 7);
      }

      @include media-desktopSm {
        @include use-desktop-columns(width, 5);
      }
    }

    .textContainer {
      @include media-tablet {
        @include use-tablet-columns(width, 7);
      }

      @include media-desktopSm {
        @include use-desktop-columns(width, 6);
      }
    }
  }

  &.columns-40-60 {
    .titleContainer {
      .title {
        @include typography-h2;
      }
      @include media-desktopSm {
        max-width: px(380);
        @include use-desktop-columns(width, 5);
      }
      @include media-desktopMd {
        @include use-desktop-columns(width, 4);
      }
    }

    .textContainer {
      @include media-desktopSm {
        @include use-desktop-columns(width, 7);
      }
    }
  }

  &.columns-30-70 {
    .titleContainer {
      @include media-desktopSm {
        @include use-desktop-columns(width, 3);
      }
    }

    .textContainer {
      @include use-mobile-columns(max-width, 4);

      @include media-tablet {
        max-width: none;
      }

      @include media-desktopSm {
        @include use-desktop-columns(width, 9);
      }
    }
  }
  &.isSticky {
    .titleContainer {
      > div {
        top: calc(#{$navbar-height} + #{px(30)});
        @include media-desktopSm {
          position: sticky;
          margin-bottom: px(60);
        }
      }
    }

    &:not(.columns-40-60) {
      .titleContainer {
        @include media-tablet {
          @include use-tablet-columns(width, 3);
        }
        @include media-desktopSm {
          margin-left: px(-$grid-relative-side-padding-desktop-external);
          width: calc(#{desktop-columns(3, 0)} + #{px($grid-relative-side-padding-desktop-external)});
        }
        @include breakpoint(desktopLock) {
          margin-left: 0;
          width: desktop-lock-columns(3, 0);
        }
      }
      .textContainer {
        @include media-tablet {
          @include use-tablet-columns(width, 5);
        }
        @include media-desktopSm {
          @include use-desktop-columns(width, 9);
        }
      }
    }
  }

  &.hasTable {
    .textContainer {
      @include media-mobile-tablet {
        width: 100%;
        overflow: unset;
      }
      :global(.tableContainer) {
        margin-left: mobile-side-padding(-0.5);
        padding: 0 mobile-side-padding();
        width: 100vw;

        @include breakpoint(tablet) {
          margin-left: tablet-side-padding(-0.5);
          padding: 0 tablet-side-padding();
        }

        @include breakpoint(desktopSm) {
          width: unset;
          margin-left: 0;
          padding: 0;
        }
      }
    }
  }
}
