@import 'shared';

.root {
  @include position-100(fixed);
  @include flex-center;
  background-color: rgba($dark-grey, 0.75);
  @include z-index(modal);
}

.container {
  @include container;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: px(31) px(24) px(40);
  background-color: $white;
  border-radius: px(12);
  z-index: 1;

  @include media-tablet {
    padding: px(46) px(36) px(50);
  }

  @include media-desktopSm {
    @include use-desktop-columns(width, 8);
  }

  .title {
    @include typography-h4;
    margin-bottom: px(14);
    color: $black;
    text-align: left;

    @include media-tablet {
      margin-bottom: px(6);
    }

    @include media-desktopSm {
      margin-bottom: px(20);
    }
  }

  .terms {
    margin-bottom: px(20);
    color: $dark-grey;
    text-align: left;
  }

  .label {
    margin-left: px(10);
    color: $dark-grey;
  }

  .checkboxWrapper {
    margin-bottom: px(45);
    text-align: left;
  }

  .close {
    @include reset-button;
    position: absolute;
    top: px(36);
    right: px(37);
    cursor: pointer;

    @include media-tablet {
      right: px(40);
    }

    svg {
      @include box(px(11));
    }
  }

  .cta {
    display: flex;
  }
}
