@import 'shared';

.root {
  width: 100%;
  position: relative;

  .layoutWrapper {
    @include container;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: left;
    padding: px(68) 0 px(58);
    height: 100%;

    @include media-tablet {
      @include container;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      height: auto;
      padding: px(78) 0 px(65);
    }

    @include media-desktopSm {
      padding: px(80) 0 px(90);
    }

    @include media-desktopMd {
      padding: px(90) 0 px(102);
    }

    &.tabletColumnLayout {
      @include media-tablet {
        flex-direction: column;
      }

      @include media-desktopSm {
        flex-direction: row;
      }

      .leftColumn {
        @include media-tablet {
          @include use-tablet-columns(width, 5);
        }
        @include media-desktopSm {
          @include use-desktop-columns(width, 6);
        }
      }

      .rightColumn {
        @include media-tablet {
          @include use-tablet-columns(width, 7);
          margin-left: 0;
        }

        @include media-desktopSm {
          @include use-desktop-columns(width, 6);
          @include use-desktop-gutter(margin-left, 1);
          margin-top: px(50);
        }
      }
    }
  }

  .leftColumn {
    width: 100%;

    @include media-tablet {
      @include use-tablet-columns(width, 3, 0);
    }

    @include media-desktopSm {
      @include use-desktop-columns(width, 6, 0);
    }
  }

  .rightColumn {
    width: 100%;

    @include media-tablet {
      @include use-tablet-columns(width, 5, 0);
      @include use-tablet-gutter(margin-left, 1);

      > *:first-child {
        margin-top: 0;
      }
    }
    @include media-desktopSm {
      @include use-desktop-columns(width, 6, 0);
      @include use-desktop-gutter(margin-left, 1);
      flex-basis: initial;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    @include typography-h2;
    margin-top: px(18);

    @include media-tablet {
      margin: 0;
    }
  }

  .subtitle {
    @include typography-eyebrow;
    text-transform: uppercase;
    color: $dark-grey;
    margin-top: px(20);

    @include media-desktopSm {
      margin-top: px(25);
    }
  }

  .description {
    @include typography-paragraph;
    margin-top: px(19);

    @include media-tablet {
      margin-top: px(28);
      padding: 0;
    }

    @include media-desktopMd {
      margin-top: px(59);
    }
  }

  .leftTitle {
    @include typography-h2;
    margin-top: px(20);

    @include media-tablet {
      margin-left: 0;
    }
  }

  .cta {
    display: flex;
    margin-top: px(16);

    @include media-tablet {
      margin-top: px(28);
    }

    @include media-desktopSm {
      margin-top: px(50);
    }
  }

  &.columns-30-70 {
    .leftColumn {
      @include media-tablet {
        @include use-tablet-columns(width, 3);
      }
      @include media-desktopSm {
        @include use-desktop-columns(width, 3);
      }
    }

    .rightColumn {
      @include media-tablet {
        @include use-tablet-columns(width, 5);
      }
      @include media-desktopSm {
        @include use-desktop-columns(width, 9);
      }
    }
  }

  &:global(.careerDetailTextIntro) {
    .cta {
      margin-top: px(30);

      @include media-tablet {
        margin-top: px(50);
      }

      @include media-desktopSm {
        margin-top: px(13);
      }
    }
  }
}
