@import 'shared';

.root {
  @include container;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: left;
  padding-top: px(250);
  padding-bottom: px(100);

  @include media-tablet {
    padding-top: px(100);
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
  }

  &.tabletColumnLayout {
    @include media-tablet {
      flex-direction: column;
    }

    @include media-desktopSm {
      flex-direction: row;
    }

    .leftColumn {
      @include media-tablet {
        @include use-tablet-columns(width, 5);
      }
      @include media-desktopSm {
        @include use-desktop-columns(width, 6);
      }
    }

    .rightColumn {
      @include media-tablet {
        @include use-tablet-columns(width, 7);
        margin-left: 0;
      }

      @include media-desktopSm {
        @include use-desktop-columns(width, 6);
        @include use-tablet-gutter(margin-left, 1);
        margin-top: px(25);
      }
    }
  }

  &.headerLeftTabletColumnLayout {
    .rightColumn {
      padding-left: 0;

      @include media-tablet {
        @include use-desktop-columns(width, 6);
      }
    }
  }

  .backgroundImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;

    @include media-tablet {
      top: px(50);
      @include use-tablet-columns(width, 3);
    }

    @include media-desktopSm {
      top: px(60);
      @include use-desktop-columns(width, 6);
    }
  }

  .backgroundImage {
    height: 100%;
    width: 100%;
  }

  .leftColumn {
    width: 100%;

    @include media-tablet {
      @include use-tablet-columns(width, 3, 0);
      padding-right: px(10);
    }

    @include media-desktopSm {
      @include use-tablet-columns(width, 6, 0);
    }
  }

  .rightColumn {
    width: 100%;

    @include media-tablet {
      @include use-tablet-columns(width, 5, 0);
      @include use-tablet-gutter(margin-left, 1);
    }
    @include media-desktopSm {
      @include use-tablet-columns(width, 6, 0);
      @include use-tablet-gutter(margin-left, 1);
      flex-basis: initial;
    }
  }

  .title {
    @include typography-h2;
    margin-bottom: px(15);
    margin-top: px(20);

    @include media-tablet {
      margin: 0;
    }
  }

  .description {
    @include typography-paragraph;
    margin: px(25) 0;

    @include media-tablet {
      padding: 0;
    }
  }

  .leftTitle {
    @include typography-h2;
    margin-top: px(20);

    @include media-tablet {
      margin-left: 0;
    }
  }

  .cta {
    display: flex;
  }
}
