@import 'shared';

.root {
  border-bottom: 1px solid $mid-grey;
  @include use-mobile-columns(width, 4);
  margin-top: px(32);
  margin-bottom: px(64);
  background-color: $black;

  @include media-tablet {
    margin-top: px(41);
  }

  @include media-desktopSm {
    @include use-desktop-columns(width, 12);
  }
}
