@import 'shared';

$video-player-controls-buttons-margin: px(12);
$video-player-controls-buttons-width: px(45);
$video-player-controls-buttons-height: px(45);
$video-player-controls-bg-color: transparent;
$video-player-controls-timer-color: $white;
$video-player-controls-timer-font-size: px(15);

.VideoControls {
  @include flex-center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 0 px(36) px(36);
  background-color: $video-player-controls-bg-color;
  z-index: 1;
  box-sizing: border-box;

  .controlsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: px(16);

    .button {
      @include flex-center;
      width: $video-player-controls-buttons-width;
      height: $video-player-controls-buttons-height;
      border: 1px solid $white;
      border-radius: 50%;
      cursor: pointer;
      background: transparent;
      padding: 0;
      text-align: inherit;
      letter-spacing: inherit;
      font-size: inherit;
      text-transform: inherit;
      color: inherit;

      svg {
        @include box(px(15));
      }
    }

    .time {
      width: auto;
      color: $video-player-controls-timer-color;
      font-size: $video-player-controls-timer-font-size;
      margin-left: px(24);
    }

    .leftContainer,
    .rightContainer {
      @include flex-center-vert;

      .button {
        margin-right: $video-player-controls-buttons-margin;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
