@import 'shared';

$video-player-controls-buttons-margin: px(12);
$video-player-controls-bg-color: transparent;
$video-player-controls-timer-color: $white;
$video-player-controls-timer-font-size: px(15);

.VideoControls {
  @include flex-center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 0 mobile-columns(0, 1) px(14);
  background-color: $video-player-controls-bg-color;
  z-index: 1;
  box-sizing: border-box;

  @include breakpoint(tablet) {
    padding: 0 px(60) px(24);
  }
  @include breakpoint(desktopSm) {
    padding: 0 px(36) px(36) px(84);
  }

  &.gallery {
    @include breakpoint(tablet) {
      padding: 0 px(48) px(16);
    }
    @include breakpoint(desktopSm) {
      padding: 0 px(36) px(26);
    }
  }
  .controlsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: px(10);
    @include breakpoint(tablet) {
      margin-top: px(16);
    }

    .time {
      width: auto;
      color: $video-player-controls-timer-color;
      font-size: $video-player-controls-timer-font-size;
      margin-left: px(24);
    }

    .leftContainer,
    .rightContainer {
      @include flex-center-vert;

      .button {
        margin-right: $video-player-controls-buttons-margin;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  &.hasPlayOnly {
    @include pagePadding(padding-left);
    @include pagePadding(padding-right);
    padding-bottom: px(100);

    @include breakpoint(desktopSm) {
      padding-bottom: px(108);
    }
    .playPauseButton {
      margin-left: auto;
      display: none;

      @include breakpoint(tablet) {
        display: inline-flex;
      }
    }
  }
}
