@import 'shared';

.root {
  width: 100%;
  @include outer-container(true);
  position: relative;
  @include rounded(px(24), true);

  .wrapper {
    @include box(100%);
    @include container;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    padding: px(20) 0 px(40);

    @include media-desktopSm {
      padding: px(43) 0;
    }

    > :global(.TextIntro) > * {
      &:first-child {
        padding-top: 0;
        margin-bottom: px(-26);

        @include breakpoint(desktopSm) {
          margin-bottom: px(-60);
        }
      }
    }
  }

  &.dark {
    color: $white;
  }

  &.light {
    color: $dark-grey;

    &:not(:global(.lightGreyBackgroundColorClass)) {
      @include media-tablet {
        width: 100%;
      }
    }
  }

  @include eyebrowTitle;

  .wrapperInfo {
    width: 100%;
    @include outer-container;
  }

  .content {
    height: 100%;
    z-index: 2;
    position: relative;
    @include container;
    @include flex-center-horiz;
  }
}
