@import 'shared';

.root {
  @include rounded(px(43), false);
  width: 100%;
  @include outer-container(true);
  text-align: left;
  overflow: hidden;
  padding: px(20) 0;
  // Placeholder
  margin-bottom: px(60);

  &.dark {
    background-color: $dark-grey;

    .title {
      color: $white;
    }
  }

  &.light {
    background-color: $white;

    .title {
      color: $dark-grey;
    }
  }

  @include media-tablet {
    padding: px(20) 0 px(34);
    // Placeholder
    margin-bottom: px(60);
  }

  @include media-desktopMd {
    padding: px(43) 0 px(100);
  }

  .title {
    @include typography-h2;
    max-width: px(400);
    margin-top: px(24);
    margin-bottom: px(54);

    @include media-desktopSm {
      max-width: px(550);
    }
  }

  .wrapperInfo {
    @include outer-container;
  }

  .content {
    @include container;
  }
}
