@import 'shared';

.root {
  width: 100%;
  @include outer-container(true);
  text-align: left;
  overflow: hidden;
  position: relative;

  .wrapper {
    overflow: hidden;
    position: relative;
    @include box(100%);
    z-index: 1;
    @include rounded(px(43), false);
    display: flex;
    padding: px(20) 0;
    @include media-tablet {
      padding: px(20) 0 px(34);
    }

    @include media-desktopMd {
      padding: px(43) 0 px(100);
    }
  }

  &.dark {
    background-color: $dark-grey;
    color: $white;
  }

  &.light {
    background-color: $light-grey;
    color: $dark-grey;
  }

  @include eyebrowTitle;

  .wrapperInfo {
    @include outer-container;
  }

  .content {
    height: 100%;
    z-index: 2;
    position: relative;
    @include container;
    @include flex-center-horiz;
  }
}
