@import 'shared';

.root {
  @include container;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include use-mobile-columns(width, 4);

  @include media-tablet {
    @include use-tablet-columns(width, 8);
  }

  @include media-desktopSm {
    @include use-desktop-columns(width, 5);
    align-items: flex-end;
    min-width: px(400);
    margin: 0;
  }
}

.search {
  margin-bottom: px(14);
  width: 100%;
}

.container {
  display: flex;
}

.filtersButton {
  @include reset-button;
  @include typography-eyebrow;
  color: $grey;
  text-align: left;
  text-transform: uppercase;

  @include media-desktopSm {
    cursor: default;
  }
}

.amount {
  white-space: nowrap;
  margin-left: px(5);

  &::before,
  &::after {
    display: inline-block;
  }

  &::before {
    content: '(';
  }
  &::after {
    content: ')';
  }
}
