@import 'shared';

.root {
  @include box(px(84));
  margin-left: px(-42);
  margin-top: px(-42);
  @include flex-center;
  position: absolute;
  text-transform: uppercase;
  border: 1px solid $red;
  border-radius: 50%;
  @include z-index(cursor);
  pointer-events: none;
  transform: translateX(desktop-columns(3, 2));
  opacity: 0;
}

.circle {
  @include box(100%);
  position: absolute;
  background-color: $red;
  border-radius: 50%;
  z-index: 2;
}

.text {
  @include typography-eyebrow;
  z-index: 1;
}
