@import 'shared';

.navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include z-index(main-nav);
}

.root {
  display: flex;

  .skipToContent {
    position: absolute;
    top: 0;
    left: 0;
    height: fit-content;
    pointer-events: none;
    opacity: 0.0001;
  }

  .skipToContent:focus,
  .skipToContent:active {
    color: $white;
    background-color: $black;
    opacity: 1;
  }

  > .wrapper {
    width: 100%;
    @include flex-center-vert;
    height: $navbar-height;

    .logo {
      z-index: 2;
    }

    .menuWrapper {
      @include flex-center-vert;
      padding: 0 px(24);
      height: 100%;
      background-color: $white;
      z-index: 1;
      width: 100%;
      @include pagePadding(padding-left);

      @include breakpoint(tablet) {
        width: auto;
      }

      @include breakpoint(desktopSm) {
        padding-right: px(63);
        border-radius: 0 0 px(4) 0;
      }
    }

    .routes {
      background-color: $white;
      display: flex;
      text-align: left;
      padding: 0;
      margin-left: px(60);
      position: relative;

      @include breakpoint(desktopSm) {
        margin-left: px(100);
      }

      @include breakpoint(desktopMd) {
        margin-left: px(122);
      }

      > li {
        @include flex-center-horiz;
        padding: 0 px(12);
        color: $mid-grey;
        position: relative;
        transition: ease-out color 0.3s;
        text-align: center;

        &::after {
          content: '';
          position: absolute;
          @include box(px(6));
          border-radius: 50%;
          background-color: $red;
          top: 100%;
          margin-top: px(2);
          transform: translateY(px(7));
          opacity: 0;
          transition: linear 0.2s transform, linear 0.2s opacity;
          pointer-events: none;
        }

        &:hover,
        &.active {
          color: $black;

          &::after {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }

    .langToggle {
      margin-left: auto;
      @include pagePadding(margin-right);
    }
  }
}
