@import 'shared';

.root {
  @include container;
  background-color: $white;
  border-bottom: 1px solid $light-grey;

  @include media-desktopSm {
    @include use-desktop-columns(width, 12);
  }

  .contentWrapper {
    overflow: hidden;
    display: none;
    height: 0;
    opacity: 0;

    .content {
      @include use-mobile-columns(width, 4);
      margin: 0 auto;

      p {
        @include typography-paragraph;
        text-align: left;
      }
    }
  }

  &.isDark {
    width: 100%;
    background-color: $dark-grey;
    border-bottom: 1px solid $mid-grey;

    @include media-desktopSm {
      @include use-desktop-columns(width, 12);
    }

    .button {
      border-top: 1px solid $mid-grey;

      .titleWrapper {
        .title {
          color: $light-grey;
          opacity: 0.75;
        }
      }

      .icon {
        svg {
          filter: inherit;
        }
      }

      &.open {
        .title {
          opacity: 1;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: px(12);
      padding-bottom: px(26);

      @include media-desktopSm {
        padding-bottom: px(36);
      }

      p {
        color: $white;
      }
    }
  }

  @at-root body:global(.desktop) {
    .button:hover {
      .title {
        opacity: 0.5;
      }
    }

    .isDark {
      .button:hover {
        .title {
          opacity: 1;
        }
      }
    }
  }
}
